html {
  background-color: #000000;
}
html,
body {
  overflow-y: hidden;
}

#scroll1 {
  opacity: 0;
  transform: translateX(-444px);
}
#scroll2 {
  opacity: 0;
  transform: translateX(-444px);
}
#scroll3 {
  opacity: 0;
  transform: translateX(444px);
}
#scroll4 {
  opacity: 0;
  transform: translateX(444px);
}
#scroll5 {
  opacity: 0;
  transform: translateX(-444px);
}
#scroll6 {
  opacity: 0;
  transform: translateX(444px);
}
#scroll7 {
  opacity: 0;
  transform: translateX(-444px);
}
.icon {
  display: none;
}
.app {
  background: linear-gradient(180deg, #101213 51.04%, #000204 100%);

  font-family: "Helvetica Neue LT Pro", sans-serif;
  color: #f1f1f1;
  overflow-x: hidden;
  overflow-y: hidden;

  font-size: 20px;
  line-height: 24px;
}
* {
  scroll-behavior: smooth;
}
.section_subtitle > h2 {
  font-weight: 750;
}
.section_echancements {
  width: 100%;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.disclaimer {
  text-align: center;
  width: 100%;
  display: flex;
  margin: auto;
  font-size: 0.5rem;
}
.section_footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.echancements_content {
  width: 80%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top_content {
  padding: 1rem 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-top: 2px solid rgba(4, 213, 192, 0.6);
  border-bottom: 2px solid rgba(4, 213, 192, 0.3);
}
.footer_socials {
  display: flex;
  gap: 5rem;
}
.footer_socials_colum {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.footer_socials_colum > span {
  cursor: pointer;
}
.footer_socials_colum h3 {
  font-weight: 500;
  color: #04d5c0;
}
.privacy {
  display: flex;
  gap: 3rem;
}
.bottom_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 0.8rem;
}
.top_content *,
.bottom_content * {
  z-index: 1;
}
.footer_bg {
  z-index: 0;
  position: absolute;
  width: 100%;
}
.safemoonlogo img {
  width: 6.5rem;
  height: 6.5rem;
}
.safemoonlogo {
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  display: flex;
}
.safemoontext h1 {
  font-size: 3.5rem;
  font-weight: 750;
}
footer {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1280px;
}
.echancement_big_block {
  opacity: 0;
  width: 100%;
  overflow: hidden;
  border: 2px solid rgba(4, 213, 192, 0.6);
  border-radius: 12px;
  position: relative;
  height: auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.echancement_big_block_text_content {
  width: auto;
}
.echancement_big_block_text_content {
  max-width: min-content;
}
.echancement_big_block_text_content > span {
  line-height: 1.5rem;
}
.echancement_big_block video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  opacity: 0.3;
}
.echancement_big_block_text_content > h1 {
  font-weight: 750;
  font-size: 3.4rem;
  width: fit-content;
  color: #04d5c0;
  margin: 2.5rem 0;
}
.echancement_big_block_text_content > span {
  line-height: 26.4px;
  font-size: 24px;
}
.echancement_small_blocks {
  width: 100%;
  max-width: 1280px;
  gap: 2rem;
  justify-content: center;
  display: flex;
}
.echancement_small_block > h1 {
  font-weight: 750;
  color: #04d5c0;
}
.echancement_small_block {
  width: 100%;
  padding: 2rem;
  border-radius: 12px;
  border: 2px solid rgba(4, 213, 192, 0.6);
}
.echancement_big_block_image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.echancement_big_block_content.reversed {
  flex-direction: row-reverse;
}
.echancement_big_block_text_content > h1 {
  white-space: nowrap;
}
.echancement_big_block_content.reversed .echancement_big_block_image {
  justify-content: flex-start;
}
.echancement_big_block_image > img {
  width: 400px;
  height: auto;
}
.echancement_big_block * {
  z-index: 1;
}
.echancement_big_block_content {
  width: 93%;
  gap: 1rem;
  padding: 2rem 0;
  display: flex;
  position: relative;
  height: 95%;
}

/* Just styling the content of the div, the *magic* in the previous rules */

.section_subtitle {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 7rem 0rem;
}
.echancements_title {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 710;
  margin-bottom: 3rem;
}
.echancements_title > span {
  border-radius: 5px;
}
.section_subtitle > h1 {
  font-weight: 750;
  font-size: 4rem;
  color: #04d5c0;
}
.section_subtitle > span {
  line-height: 1.5rem;
  width: 50%;
  font-size: 24px;
  color: #f1f1f1;
}
.section_header {
  position: relative;
  display: flex;
  width: 100%;
  height: 70dvh;
  justify-content: center;
  align-items: center;

  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, #0f191e 0%, #000000 100%);

  border-radius: 0 0 150px 150px;
  overflow: hidden;
}
.header_content {
  position: relative;
  width: 80%;
  height: 70dvh;
}
.header_social_buttons {
  width: 100%;
  display: flex;
  padding: 2rem 0;
  flex-direction: row-reverse;
  gap: 3rem;
  opacity: 0;
  transition: opacity 0.3s;
}
.header_safepad_buttons {
  width: 100%;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}
.safepad_button {
  background-color: #04d5c0;
  padding: 0.8rem 1.6rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  opacity: 0;
  transform: translateY(60px);
  z-index: 1;
  cursor: pointer;
  border-radius: 6px;
  transition: opacity 1s, transform 1s;
}
.social_button {
  padding: 0.8rem 0;
  cursor: pointer;
  width: 8rem;
  border: solid 1px #fff;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: auto;
  padding: 20px 0;
}
.header_logo {
  cursor: pointer;
  width: 3.5rem;
  height: 3.5rem;
}
.header_logo > img {
  -webkit-user-drag: none;
}
antique {
  color: #04d5c0;
}
.header_nav {
  color: #04d5c0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.header_nav > span {
  cursor: pointer;
  user-select: none;
}
.header_text_row > h1 {
  color: #fff;
  font-weight: 750;
  margin: 3rem 0;
  font-size: 6rem;
  line-height: auto;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
.flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.header_text_row > span {
  width: 20%;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;
}
.header_text_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.BG_SHADOW {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.1) 20%,
    rgba(0, 0, 0, 0) 100%
  );

  position: absolute;
  width: 120%;
  z-index: 1;
  bottom: 0;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.BG_ELIPLSE {
  transform: translateY(1rem);
  position: absolute;
  width: 80%;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.BG_MOON > img {
  z-index: 0 !important;

  -webkit-user-drag: none;
  user-select: none;
}
.mobile_spans_from_header {
  display: none;
}
.BG_MOON {
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  width: 45%;
  bottom: -200%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 0;
  -webkit-user-drag: none;
  transition: bottom 2s;
}
.SHOW_MOON {
  bottom: -50%;
  z-index: 0;
}
.SHOW_SAFEPAD {
  opacity: 1;
  transform: translateX(0);
}
@media screen and (max-width: 4096px) {
  body {
    font-size: 2rem;
    line-height: 2rem;
  }
  .header_logo {
    width: 7rem;
    height: 7rem;
  }
  .header_nav {
    font-size: 2rem;
  }
  .header_text_row > h1 {
    margin: 6rem 0;
    font-size: 10rem;
  }
  .header_text_row > span {
    font-size: 2rem;
    line-height: 2rem;
  }
  .social_button {
    font-size: 2rem;
    padding: 2rem 0;
    width: 15rem;
  }
  .safepad_button > img {
    width: 2rem;
  }
  .safepad_button {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem 4.5rem;
    border-radius: 1rem;
    font-size: 2rem;
    transition: opacity 1s, transform 1s;
  }
  .section_subtitle > h1 {
    font-size: 6rem;
  }
  .section_subtitle > span {
    line-height: 2rem;
    font-size: 2rem;
  }
  .header_content,
  .section_header {
    height: 1600px;
  }
  header {
    margin-bottom: 100px;
  }
  .echancement_big_block {
    max-width: 2000px;
  }
  .echancements_title {
    font-size: 3.2rem;
    margin-bottom: 5rem;
  }
  .echancement_big_block_text_content > h1 {
    font-weight: 750;
    font-size: 6rem;
    width: fit-content;
    color: #04d5c0;
    margin: 5rem 0;
  }
  .echancement_big_block_text_content > span {
    line-height: 2rem;
    font-size: 2rem;
  }
  .echancement_big_block_image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .echancement_big_block_image > img {
    width: 600px;
    height: auto;
  }
  .echancement_small_blocks {
    width: 100%;
    max-width: 2000px;
    gap: 2rem;
  }
  footer {
    max-width: 2000px;
  }
  .footer_socials_colum {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 0.9rem;
  }
  .BG_MOON {
    width: 55%;
  }
  .SHOW_MOON {
    bottom: -70%;
  }
}

@media screen and (max-width: 2560px) {
  body {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .header_logo {
    width: 5rem;
    height: 5rem;
  }
  .header_nav {
    font-size: 1rem;
  }
  .header_text_row > h1 {
    margin: 4rem 0;
    font-size: 7rem;
  }
  .header_text_row > span {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .social_button {
    font-size: 1rem;
    padding: 1rem 0;
    width: 11rem;
  }
  .safepad_button > img {
    width: 1rem;
  }
  .safepad_button {
    gap: 1rem;
    padding: 1em 2rem;
    border-radius: 12px;
    font-size: 1rem;
  }
  .section_subtitle > h1 {
    font-size: 4rem;
  }
  .section_subtitle > span {
    line-height: 1.5rem;
    font-size: 1.5rem;
  }
  .header_content,
  .section_header {
    height: 1000px;
  }
  header {
    margin-bottom: 50px;
  }

  .echancement_big_block,
  footer,
  .echancement_small_blocks {
    max-width: 1500px;
  }
  .echancements_title {
    font-size: 2.5rem;
    margin-bottom: 5rem;
  }
  .echancement_big_block_text_content > h1 {
    font-size: 4rem;
    width: fit-content;
    color: #04d5c0;
    margin: 3rem 0;
  }
  .echancement_big_block_text_content > span {
    line-height: 1.4rem;
    font-size: 1.4rem;
  }
  .echancement_big_block_image > img {
    width: 400px;
    height: auto;
  }

  .footer_socials_colum {
    font-size: 1rem;
    gap: 0.5rem;
  }
  .BG_MOON {
    width: 55%;
  }
  .SHOW_MOON {
    bottom: -70%;
  }
}
@media screen and (max-width: 2300px) {
  .BG_MOON {
    width: 55%;
  }
  .SHOW_MOON {
    bottom: -60%;
  }
}
@media screen and (max-width: 1920px) {
  body {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .header_logo {
    width: 4rem;
    height: 4rem;
  }

  .header_content,
  .section_header {
    height: 800px;
  }
  .header_nav {
    font-size: 1rem;
  }
  .header_text_row > h1 {
    margin: 3rem 0;
    font-size: 6rem;
  }
  .header_text_row > span {
    font-size: 1em;
  }
  .social_button {
    padding: 1rem 0;
    width: 9rem;
  }
  .section_subtitle {
    padding: 4rem 0rem;
  }
  .safepad_button > img {
    width: 0.9rem;
  }
  .safepad_button {
    gap: 1rem;
    padding: 1em 2rem;
    border-radius: 12px;
    font-size: 1rem;
  }
  .section_subtitle > h1 {
    font-size: 4rem;
  }
  .section_subtitle > span {
    font-size: 1rem;
  }

  header {
    margin-bottom: 50px;
  }
  .echancements_content {
    gap: 1.5rem;
  }
  .echancement_small_blocks {
    gap: 1.5rem;
  }
  .echancement_big_block,
  footer,
  .echancement_small_blocks {
    max-width: 1200px;
  }
  .echancements_title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .echancement_big_block_text_content > h1 {
    font-size: 3rem;
    width: fit-content;
    color: #04d5c0;
    margin: 2.5rem 0;
  }
  .echancement_big_block_text_content > span {
    line-height: 1.2rem;
    font-size: 1rem;
  }
  .echancement_big_block_image > img {
    width: 350px;
    height: auto;
  }
  .echancement_small_block {
    padding: 1rem 1.5rem;
  }
  .echancement_big_block_content {
    padding: 1rem 0;
  }
  .safemoonlogo img {
    width: 6rem;
    height: 6rem;
  }
  .safemoontext h1 {
    font-size: 3rem;
    font-weight: 750;
  }
  .footer_socials_colum {
    font-size: 1rem;
    gap: 0.5rem;
  }
  .BG_MOON {
    width: 55%;
  }
  .SHOW_MOON {
    bottom: -65%;
  }
}
@media screen and (max-width: 1680px) {
  body {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .header_logo {
    width: 3.5rem;
    height: 3.5rem;
  }

  .header_content,
  .section_header {
    height: 700px !important;
  }
  .header_nav {
    font-size: 0.9rem;
  }
  .header_text_row > h1 {
    margin: 2rem 0;
    font-size: 4.5rem;
  }
  .header_text_row > span {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .header_social_buttons {
    gap: 1rem;
  }
  .social_button {
    padding: 0.7rem 0;
    font-size: 0.8rem;
    width: 7rem;
  }
  .section_subtitle {
    padding: 4rem 0rem;
  }
  .safepad_button > img {
    width: 0.9rem;
  }
  .safepad_button {
    gap: 0.8rem;
    padding: 1em 2rem;
    border-radius: 12px;
    font-size: 1rem;
  }
  .section_subtitle > h1 {
    font-size: 3.5rem;
  }
  .section_subtitle > span {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  header {
    margin-bottom: 50px;
  }
  .echancements_content {
    gap: 1rem;
  }
  .echancement_small_blocks {
    gap: 1rem;
  }
  .section_echancements {
    margin-bottom: 5rem;
  }
  .echancement_big_block,
  footer,
  .echancement_small_blocks {
    max-width: 1100px;
  }
  .echancements_title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .echancement_big_block_text_content > h1 {
    font-size: 2.5rem;
    margin: 2rem 0;
  }
  .echancement_big_block_text_content > span {
    line-height: 1rem;
    font-size: 0.8rem;
  }
  .echancement_big_block_image > img {
    width: 300px;
    height: auto;
  }
  .echancement_small_block {
    padding: 1rem 1.5rem;
  }
  .echancement_big_block_content {
    padding: 1rem 0;
  }
  .safemoonlogo img {
    width: 5rem;
    height: 5rem;
  }
  .safemoontext h1 {
    font-size: 2.5rem;
    font-weight: 750;
  }
  .footer_socials_colum {
    font-size: 0.8rem;
    gap: 0.4rem;
  }
  .BG_MOON {
    width: 55%;
  }
  .SHOW_MOON {
    bottom: -65%;
  }
}
@media screen and (max-width: 1600px) {
  .safepad_button {
    gap: 0.8rem;
    padding: 0.8rem 1.6rem;
    border-radius: 12px;
    font-size: 0.8rem;
  }
  .safepad_button > img {
    width: 0.8rem;
  }
}
@media screen and (max-width: 1440px) {
  body {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
  .header_logo {
    width: 3.3rem;
    height: 3.3rem;
  }
  .header_content,
  .section_header {
    height: 600px !important;
  }
  .header_nav {
    font-size: 0.8rem;
  }
  header {
    margin-bottom: 35px;
  }
  .header_text_row > h1 {
    margin: 1.8rem 0;
    font-size: 4.2rem;
  }
  .header_text_row > span {
    line-height: 0.9rem;
    font-size: 0.8rem;
  }
  .header_safepad_buttons {
    padding: 1rem 0;
  }
  .header_social_buttons {
    gap: 0.8rem;
    padding: 1rem;
  }
  .social_button {
    padding: 0.7rem 0;
    font-size: 0.8rem;
    width: 7rem;
  }
  .section_subtitle {
    padding: 4rem 0rem;
  }
  .safepad_button > img {
    width: 0.7rem;
  }
  .safepad_button {
    gap: 0.6rem;
    padding: 0.7rem 1.4rem;
    border-radius: 12px;
    font-size: 0.8rem;
  }
  .section_subtitle > h1 {
    font-size: 3rem;
  }
  .section_subtitle > span {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
  .echancements_content {
    gap: 1rem;
  }
  .echancement_small_blocks {
    gap: 1rem;
  }
  .echancement_big_block,
  footer,
  .echancement_small_blocks {
    max-width: 900px;
  }
  .echancements_title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .echancement_big_block_text_content > h1 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
  }
  .echancement_big_block_text_content > span {
    line-height: 0.9rem;
    font-size: 0.8rem;
  }
  .echancement_big_block_image > img {
    width: 250px;
    height: auto;
  }
  .echancement_small_block {
    padding: 0.8rem 1.3rem;
  }
  .echancement_big_block_content {
    padding: 1rem 0;
  }
  .safemoonlogo img {
    width: 4rem;
    height: 4rem;
  }
  .safemoontext h1 {
    font-size: 2rem;
  }
  .footer_socials_colum {
    font-size: 0.8rem;
    gap: 0.3rem;
  }
  .bottom_content {
    padding: 1.3rem 0;
    font-size: 0.6rem;
  }
  .BG_MOON {
    width: 60%;
  }
  .SHOW_MOON {
    bottom: -70%;
  }
}

@media screen and (max-width: 1366px) {
  body {
    font-size: 0.7rem;
    line-height: 0.8rem;
  }
  .header_logo {
    width: 3rem;
    height: 3rem;
  }
  .header_content,
  .section_header {
    height: 550px !important;
  }
  .header_nav {
    font-size: 0.7rem;
    gap: 3rem;
  }
  header {
    margin-bottom: 25px;
  }
  .header_text_row > h1 {
    margin: 1.6rem 0;
    font-size: 3.9rem;
  }
  .header_text_row > span {
    line-height: 0.8rem;
    font-size: 0.7rem;
  }
  .header_safepad_buttons {
    padding: 1rem 0;
  }
  .header_social_buttons {
    gap: 0.8rem;
    padding: 1rem;
  }
  .social_button {
    padding: 0.6rem 0;
    font-size: 0.7rem;
    width: 6rem;
  }
  .section_subtitle {
    padding: 3.3rem 0rem;
  }
  .safepad_button > img {
    width: 0.6rem;
  }
  .safepad_button {
    gap: 0.5rem;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    font-size: 0.7rem;
  }
  .section_subtitle > h1 {
    font-size: 2.8rem;
  }
  .section_subtitle > span {
    font-size: 0.7rem;
    line-height: 0.8rem;
  }
  .echancements_content {
    gap: 0.8rem;
  }
  .echancement_small_blocks {
    gap: 0.8rem;
  }
  .echancement_big_block,
  footer,
  .echancement_small_blocks {
    max-width: 850px;
  }
  .echancements_title {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
  .echancement_big_block_text_content > h1 {
    font-size: 2.3rem;
    margin: 1.4rem 0;
  }
  .echancement_big_block_text_content > span {
    line-height: 0.8rem;
    font-size: 0.7rem;
  }
  .echancement_big_block_image > img {
    width: 220px;
    height: auto;
  }
  .section_echancements {
    margin-bottom: 4rem;
  }
  .echancement_small_block {
    padding: 0.8rem 1.3rem;
  }
  .echancement_big_block_content {
    padding: 1rem 0;
  }
  .safemoonlogo img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .safemoontext h1 {
    font-size: 1.6rem;
  }
  .footer_socials_colum {
    font-size: 0.7rem;
    gap: 0.25rem;
  }
  .bottom_content {
    padding: 1.2rem 0;
    font-size: 0.55rem;
  }
  .BG_MOON {
    width: 55%;
  }
  .SHOW_MOON {
    bottom: -65%;
  }
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 0.65rem;
    line-height: 0.75rem;
  }
  .header_logo {
    width: 2.5rem;
    height: 2.5rem;
  }
  .header_content,
  .section_header {
    height: 530px !important;
  }
  .header_nav {
    font-size: 0.65rem;
    gap: 2.5rem;
  }
  header {
    margin-bottom: 25px;
  }
  .header_text_row > h1 {
    margin: 1.4rem 0;
    font-size: 3.3rem;
  }
  .header_text_row > span {
    line-height: 0.75rem;
    font-size: 0.65rem;
  }
  .header_safepad_buttons {
    padding: 1rem 0;
  }
  .header_social_buttons {
    gap: 1.2rem;
    padding: 1.2rem 0;
  }
  .social_button {
    padding: 0.6rem 0;
    font-size: 0.7rem;
    width: 6rem;
  }
  .section_subtitle {
    padding: 3rem 0rem;
  }
  .safepad_button > img {
    width: 0.5rem;
  }
  .safepad_button {
    gap: 0.5rem;
    padding: 0.65rem 1.1rem;
    border-radius: 5px;
    font-size: 0.65rem;
  }
  .section_subtitle > h1 {
    font-size: 2.6rem;
  }
  .section_subtitle > span {
    font-size: 0.65rem;
    line-height: 0.75rem;
  }
  .echancements_content {
    gap: 0.8rem;
  }
  .echancement_small_blocks {
    gap: 0.8rem;
  }
  .echancement_big_block,
  footer,
  .echancement_small_blocks {
    max-width: 850px;
  }
  .echancements_title {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
  .echancement_big_block_text_content > h1 {
    font-size: 2.3rem;
    margin: 1.4rem 0;
  }
  .echancement_big_block_text_content > span {
    line-height: 0.8rem;
    font-size: 0.7rem;
  }
  .echancement_big_block_image > img {
    width: 220px;
    height: auto;
  }
  .section_echancements {
    margin-bottom: 4rem;
  }
  .echancement_small_block {
    padding: 0.8rem 1.3rem;
  }
  .echancement_big_block_content {
    padding: 1rem 0;
  }
  .safemoonlogo img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .safemoontext h1 {
    font-size: 1.6rem;
  }
  .footer_socials_colum {
    font-size: 0.7rem;
    gap: 0.25rem;
  }
  .bottom_content {
    padding: 1.2rem 0;
    font-size: 0.55rem;
  }
  .BG_MOON {
    width: 55%;
  }
  .SHOW_MOON {
    bottom: -60%;
  }
}
@media screen and (max-width: 1000px) {
  body {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .header_logo {
    width: 2.1rem;
    height: 2.1rem;
  }
  .header_content,
  .section_header {
    height: 530px !important;
  }
  .header_nav {
    font-size: 0.65rem;
    gap: 2.3rem;
  }
  header {
    margin-bottom: 25px;
  }
  .header_text_row > h1 {
    margin: 1.4rem 0;
    font-size: 3rem;
  }
  .header_text_row {
    justify-content: center;
  }
  .header_text_row > span {
    display: none;
    line-height: 0.75rem;
    font-size: 0.65rem;
  }
  .header_safepad_buttons {
    padding: 1rem 0;
  }
  .header_social_buttons {
    display: none;
    gap: 1.2rem;
    padding: 1.2rem 0;
  }
  .mobile_spans_from_header {
    width: 95%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .mobile_spans_from_header > span {
    text-align: left;
    padding: 0.3rem 0 0.3rem 5%;
    width: 95%;
    font-size: 1rem;
    border-left: 2px #04d5c0 solid;
  }
  .BG_ELIPLSE {
    width: 100%;
  }
  .social_button {
    padding: 0.6rem 0;
    font-size: 0.7rem;
    width: 6rem;
  }
  .section_subtitle {
    padding: 3rem 0rem;
  }
  .safepad_button > img {
    width: 0.5rem;
  }
  .safepad_button {
    gap: 0.5rem;
    padding: 0.65rem 1.1rem;
    border-radius: 5px;
    font-size: 1rem;
  }
  .section_subtitle > h1 {
    font-size: 2.6rem;
    margin-top: 6rem;
  }
  .section_subtitle > span {
    font-size: 1rem;
    width: 95%;
    line-height: 1.2rem;
    margin-bottom: 6rem;
  }
  .echancements_content {
    gap: 0.8rem;
    width: 95%;
  }
  .echancement_small_blocks {
    gap: 0.8rem;
  }
  .echancement_big_block,
  .echancement_small_blocks {
    max-width: 850px;
  }
  .echancements_title {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
  .echancement_big_block_text_content > h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .echancement_big_block_text_content > span {
    line-height: 1.1rem;
    font-size: 1rem;
  }
  .echancement_big_block_image > img {
    width: 220px;
    height: auto;
  }
  .echancement_big_block_image {
    justify-content: center;
  }
  .echancement_big_block_content.reversed .echancement_big_block_image {
    justify-content: center;
  }
  .echancement_small_blocks {
    overflow: visible;
    flex-direction: column;
    width: 100%;
  }
  .section_echancements {
    margin-bottom: 4rem;
  }
  .echancement_small_block {
    width: 95%;
    padding: 2.5%;
    max-width: 95%;
  }
  .echancement_big_block_content {
    padding: 1rem 0;
  }
  .safemoonlogo img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .safemoontext h1 {
    font-size: 1.6rem;
  }
  .footer_socials_colum {
    font-size: 0.7rem;
    gap: 0.25rem;
  }
  .bottom_content {
    padding: 1.2rem 0;
    font-size: 0.55rem;
  }
  .section_footer {
    border-top: 2px solid rgba(4, 213, 192, 0.6);
  }
  .top_content,
  .bottom_content {
    border: none;
    flex-direction: column;
  }
  .privacy {
    text-align: center;
    justify-content: center;
  }
  .footer_bg {
    top: 10%;
    right: 0;
    left: 0;
    text-align: center;
    width: 50%;
    margin: auto;
  }
  .bottom_content {
    text-align: center;
    border-top: 2px solid #0f191e;
  }
  .BG_MOON {
    width: 70%;
    bottom: -200%;
  }
  .SHOW_MOON {
    bottom: -60%;
  }
}
@media screen and (max-width: 700px) {
  .echancement_big_block_image {
    display: none;
  }
  .echancement_big_block_text_content {
    max-width: max-content;
  }
  .icon {
    margin: 1rem 0;
    width: 50%;
    display: block;
    min-width: 200px;
    max-width: 300px;
  }
}
@media screen and (max-width: 800px) {
  .top_content,
  .bottom_content {
    padding: 0.4rem 0;
  }
  .footer_socials {
    justify-content: space-around;
    gap: 0;
    width: 100%;
  }
  .section_header {
    border-radius: 0 0 70px 70px;
  }
  .BG_MOON {
    width: 50%;
    bottom: -200%;
  }
  .SHOW_MOON {
    bottom: -40%;
  }
  .header_content {
    width: 95%;
  }
}
@media screen and (max-width: 550px) {
  .header_text_row > h1 {
    margin: 1rem 0;
    font-size: 2.4rem;
  }
  .header_content,
  .section_header {
    height: 400px !important;
  }
  .BG_ELIPLSE {
    display: flex;
    flex-direction: column-reverse;
  }

  .BG_MOON {
    width: 70%;
    bottom: -200%;
  }
  .SHOW_MOON {
    bottom: -59%;
  }
}
@media screen and (max-width: 470px) {
  .BG_MOON {
    width: 70%;
    bottom: -200%;
  }
  .SHOW_MOON {
    bottom: -50%;
  }
  .echancement_small_block > h1 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 414px) {
  .header_text_row > h1 {
    margin: 0.5rem 0;
    font-size: 2rem;
  }
  .section_subtitle > h1 {
    font-size: 2rem;
  }
  .echancement_small_block > h1 {
    font-size: 1.5rem;
  }
  .echancement_big_block_text_content > h1 {
    font-size: 1.5rem;
    margin: 0.8rem 0;
  }
  .echancement_big_block_content {
    padding: 0.6rem 0;
    gap: 0.4rem;
  }
  .footer_bg {
    top: 10%;
    right: 0;
    left: 0;
    text-align: center;
    width: 80%;
    margin: auto;
  }
  .section_header {
    border-radius: 0 0 30px 30px;
  }
  .BG_MOON {
    width: 70%;
    bottom: -200%;
  }
  .SHOW_MOON {
    bottom: -46%;
  }
}

@media screen and (max-width: 375px) {
  .header_text_row > h1 {
    margin: 0.5rem 0;
    font-size: 1.7rem;
  }
  .echancements_title > span {
    border-radius: 5px;
    line-height: 1.5rem;
  }
  .section_subtitle > h1 {
    font-size: 1.7rem;
  }
  .header_nav {
    font-size: 0.65rem;
    gap: 1.5rem;
  }

  .BG_MOON {
    width: 70%;
    bottom: -200%;
  }
  .SHOW_MOON {
    bottom: -43%;
  }
}
@media screen and (max-width: 350px) {
  .BG_MOON {
    width: 70%;
    bottom: -200%;
  }
  .SHOW_MOON {
    bottom: -40%;
  }
  .echancement_small_block > h1 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 320px) {
  .header_text_row > h1 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
  }
  .section_subtitle > h1 {
    font-size: 1.5rem;
  }
  .echancement_big_block_text_content > h1 {
    font-size: 1.3rem;
    margin: 0.8rem 0;
  }
  .BG_MOON {
    width: 70%;
    bottom: -200%;
  }
  .SHOW_MOON {
    bottom: -37%;
  }
  .echancement_small_block > h1 {
    font-size: 1.3rem;
  }
}
